body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-colortext);
    background-color: var(--page-background-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--page-colortext);
}

.visuaiiy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}



.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 480px;
    width: 100%;
}
@media screen and (min-width: 768px) {}
 .container {
    max-width: 768px;
    width: 100%;
 }
@media screen and (min-width: 1200px) {
    .container{
    max-width: 1158px;
    width: 100%;
}
}



@media screen and (min-width: 768px) {

    .footer-form-fields input {
       margin: 0;
       width: 264px;
        
    }
     
    .footer-container{
        margin: 0;
        padding: 0;
    }
    
    
   .footer-form-fields{
    display: flex;
    justify-content: center;
    gap: 24px;
   }

}
.icon,
.container-section-img{
    display: none;
}
.section-team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.section-team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: var(--color-link)
}
.icon-inst {
    width: 16px;
    height: 16px;
}