@media screen and (min-width: 768px) {
    .customers-laying {
        width: 168px;
    }
    .customers-laying-icon {
        width: 104px;
    }

    .customers-flex {
        flex-basis: calc(100% / 3);
        width: 168px;
    }
}