@media screen and (min-width: 768px) {

    .footer-form-fields input {
       margin: 0;
       width: 264px;
        
    }
        .footer-form-tt {
            margin: 0;
           
            
        }

        .container{
            padding: 96px 0;
        }
    
    .footer-container{
        margin: 0;
        padding: 0;
    }
    
    
   .footer-form-fields{
    display: flex;
    justify-content: center;
    gap: 24px;
   }

}