@media screen and (min-width: 1200px) {
    .stile-footer {
        width: 100%;
        padding: 100px 0;
        }
    .footer-container{
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        justify-content: center;
        
    }
   
    .footer-form-fields {
        display: flex;
        flex-direction: row;
        }
    
    .footer-bl{
        margin: 0;
        }
    
    .foter-title-blok {
        margin-left: 0;
        width: 264px;
    }

    .footer-icon-list {
        margin-right: 0;
    }
    .footer-form,
    .footer-icon-bloc,
    .foter-title-blok,
    .footer-form-fields{
        margin: 0;
    }
}