@media screen and (min-width: 1200px) {

    .footer-form {
        width: 453px;
    }

    .footer-form-fields {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}