@media screen and (min-width: 768px) {
    .stile-footer {
    margin: 0;
    padding-top:  96px;
    padding-bottom: 96px;
    }
        .footer-bl{
            margin: 0 auto;
            display: flex;
                flex-direction: row;
                gap: 24px;
        }
    
    .logo-footer,
    .footer-icon-title,
    .footer-form-tt{
        text-align: left;
    }
}