@media screen and (min-width: 768px) {
.footer-form {
      max-width: 453px;
      width: 100%;
      margin-right: auto;

   }
   .footer-form-fields input {
      margin: 0;
   }
   .footer-form-tt{
      margin-right: auto;
      margin-left: 59px;
   }
    
   .footer-form-fields{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
   
   }
   

}