@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        width: 497px;
        height: 80px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }
}