@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        width: 100%;
        padding: 187px 0;
        margin: 0 auto;
    }

    .hero-title {
        margin-bottom: 48px;
    }
}