@media screen and (min-width: 768px) {
    .proposition-grid{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        flex-basis:((100% - 24) / 2);
    }

        .proposition-title {
        text-align: left;
    }
        .proposition-grid-bloc,
        .proposition-grid-peac {
            display: block;
            width: 356px;
    // .proposition-text:nth-child(3){
    //     margin-bottom: 0px;
    // }
    //     .proposition-text:nth-child(4){
    //         margin-bottom: 0px;
    //     }
}
}