@media screen and (min-width: 1200px) {
    .proposition-grid {
        padding-bottom: 0;
    
    }

    .proposition-grid {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        flex-basis: ((100% - 72) / 4);
    }

    .proposition-grid-bloc,
    .proposition-grid-peac {
        display: block;
        width: 264px;
        margin-bottom: 8px;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        min-height: 112px;
        background-color: var(--color-shade);
        margin-bottom: 8px;
    }

    .proposition-icon {
        width: 64px;
        height: 64px;
    }

    .proposition-title {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-second);
    }
    
}