@media screen and (min-width: 768px) {
    .proposition-grid{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        // flex-basis:((100% - 24) / 2);
    }

        .proposition-title {
        text-align: left;
    }
        .proposition-grid-bloc,
        .proposition-grid-peac {
          
            width: 356px;}
    .proposition-text{
        margin-bottom: 0px;
    }
        
}
