/* What are we doing */
@media screen and (min-width: 1200px) {
    .container-section-img {
        display: block;

    }

    .title-section-img {

        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        color: var(--color-second);
        
        text-transform: capitalize;
        margin: 0 auto;
        padding: 0;
    }

    .section-img {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-top: 72px;
    }
}