:root {
    --page-background-color: #FFFFFF;
    --color-shade: #F4F4FD;
    --page-colortext: #434455;
    --color-second: #2E2F42;
    --color-link: #4D5AE5;
    --color-activ: #404BBF;
    --color-validfields: #31D0AA;
    --color-icon: #8E8F99;
    --color-border: #E7E9FC;
}